/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    position: fixed;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.logo{
    height: 40px;
    margin-left: 20px;
}

.navigation-links{
    display: flex;
    list-style-type: none;
}

#navbar ul li{
    margin: 10px;
}

#music-for-everyone{
    text-align: center;
    height: 500px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
}

#music-for-everyone h1{
    /* otra opcion que no funcionaba... 
    font-size: clamp(minimum-size, prefered-size, maximum-size)*/
    font-size: calc(22px + 2vw);
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: 30px;
}

#music-for-everyone h2{
    font-size: calc(12px + 0.5vw);
    font-weight: 500;
}

#whats-on-spotify{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#whats-on-spotify h2{
    color: #1A1A1A;
    border-bottom: 3px solid #00B172;
    font-size: calc(20px + 1vw);
    text-align: center;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
    align-self: center;
}

#whats-on-spotify img{
    width: 120px;
}

#whats-on-spotify h3{
    color: #00B172;
    font-weight: 900;
}

.three-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
}

.three-icons > div{
    width: 200px;
    margin: 20px;
}

div > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#kanye-west{
    background-color: #00B172;
    height: 620px;
    margin: 25px;
}

.text-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFF;
    text-align: center;
}

#kanye-west h2{
    text-decoration: underline;
    text-underline-offset: 8px;
    line-height: 40px;
    margin: 40px 30px 30px 30px;
    text-align: left;
}

#kanye-west h3{
    margin-bottom: 10px;
    font-weight: 900;
    text-align: left;
}

.text-kanye-west > div{
    margin: auto;
    color: #FFF;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.text-kanye-west{
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 400px;
}

.text-kanye-west p{
    font-size: calc(10px+ 2vw);
    text-align: left;
}

.image-kanye-west{
    margin: 40px;
}

.image-kanye-west img{
    width: 300px;
}

.white-icon{
    width: 100px;
    height: 100px;
    align-self: center
}

@media (max-width: 900px){
    .white-icon{
        display: none;
    }
}

@media (max-width: 730px){
    #kanye-west{
        height: 1040px;
    }

    .text-pic{
        flex-direction: column;
        align-items: center;
    }

    .image-kanye-west img{
        width: 200px;
    }   
}


@media (max-width: 530px){
    .three-icons{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .image-kanye-west img{
        width: 45vw;
    }
}


@media (max-width: 476px){
    /*Hamburger button en un futuro :P*/
    .navigation-links{
        display: none;
    }
}